html
  head
    title= title
  body(style='background-image: url(https://app.sce-faster.com/content/cloud.jpg); background-repeat: no-repeat; background-attachment: fixed; background-size: cover;')
    div(style='color: #000; font-family: "Courier New"; text-align: center; font-size: 32pt;')
        h1= message
    